<div id="timecontainer">
	<form >
		Time: <input type="number" id="timestamp">
		<input type="button" value="Submit" id= "timesubmit">
	</form>
</div>
<div id="buttoncontainer">

</div>

<div id = "matchId" data-match= {{this.id}}> </div>
<div class = "team1" id= "t1top"> Team 1 Top</div>
<div class = "team2" id= "t2top"> Team 2 Top</div>
<br>
<div class = "team1" id= "t1jung"> Team 1 Jungle</div>
<div class = "team2" id= "t2jung"> Team 2 Jungle</div>
<br>
<div class = "team1" id= "t1mid"> Team 1 Mid</div>
<div class = "team2" id= "t2mid"> Team 2 Mid</div>
<br>
<div class = "team1" id= "t1bot"> Team 1 Bot</div>
<div class = "team2" id= "t2bot"> Team 2 Bot</div>
<br>
<div class = "team1" id= "t1sup"> Team 1 Support</div>
<div class = "team2" id= "t2sup"> Team 2 Support</div>
<br>


